/* ******* REMINDER - MOBILE FIRST CSS! ******* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

/* button {
  all: unset;
} */

body,
button {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: #404040;
  cursor: default;
}

button {
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#thumbs img,
#buttonContainer button {
  cursor: pointer;
}

#buttonContainer {
  display: flex;
  gap: 6px;
  border-radius: 10px;
}

#buttonContainer,
#thumbs {
  padding: 6px;
}

#thumbs {
  padding-top: 0;
}

#thumbs {
  display: flex;
  /* align-items: flex-start; */
  gap: 6px;
  background-color: gray;
}

button {
  background-color: rgb(235, 235, 235);
  padding: 20px 0;
  border: 0;
  border-radius: 6px;
  transition: 0.5s;
  flex: 1;
}

button:hover {
  background-color: rgb(190, 255, 191);
  /* background-color: rgb(201, 190, 255); */
}

#thumbs button {
  padding: 10px 0;
  align-self: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#modal {
  /* padding: 20px; */
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* @media screen and (min-width: 481px) {

  #buttonContainer,
  #thumbs,
  #modal {
    padding: 10px;
  }

  #thumbs,
  #modal {
    padding-top: 0;
  }

  button {
    padding: 20px 0;
  }

  #thumbs,
  #buttonContainer {
    gap: 10px;
  }
} */

/* @media screen and (min-width: 801px) {

  #imageContainer {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr;
  }

  #modal {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 0;
  }

  #thumbs {
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
} */