/* ******* REMINDER - MOBILE FIRST CSS! ******* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1;
  color: rgb(209, 209, 208);
  cursor: default;
}

p {
  font-size: 120%;
  line-height: 175%;
}

h1 {
  font-size: 300%;
  font-weight: 100;
  letter-spacing: 10px;
  padding: 20px 30px 40px 30px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  border: 0;
  border-radius: 14px;
  transition: all 0.5s ease;
}

img,
.btn {
  cursor: pointer;
}

#buttonContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 50%;
  border: 4px solid lime;
  opacity: 0.3;
}

.btn:hover {
  opacity: 1;
}

#buttonContainer,
.btn {
  z-index: 10;
}

#thumbs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  max-width: 75%;
  margin: auto;
}

#thumbs button {
  background-color: black;
  padding: 8px;
}

#thumbs button:hover {
  background-color: lime;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#modal {
  display: flex;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

#modal img {
  object-fit: contain;
}

footer {
  margin: 75px 0;
  text-align: center;
}

/* @media only screen and (orientation: landscape) {

  #thumbs {
    flex-direction: row;
  }

} */

@media screen and (min-width: 481px) {

  #thumbs {
    max-width: 60%;
  }
}


@media screen and (min-width: 601px) {

  #thumbs {
    max-width: 40%;
  }

}

@media screen and (min-width: 1025px) {

  h1 {
    text-align: center;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    align-content: center;
  }

  #thumbs {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    max-width: 96vw;
    margin: 100px auto 100px auto;
    /* position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%; */
  }

  #thumbs button {
    flex: 1;
  }
}