/* ******* REMINDER - MOBILE FIRST CSS! ******* */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  background-color: black;
}

body,
button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  color: rgb(209, 209, 208);
  cursor: default;
}

h1 {
  font-size: 300%;
  font-weight: 100;
  letter-spacing: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  border: 0;
  border-radius: 14px;
  transition: all 0.5s ease;
}

img,
.btn {
  cursor: pointer;
}

#buttonContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60px;
  max-height: 60px;
  font-size: 35px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 50%;
  border: 4px solid lime;
  opacity: 0.3;
}

.btn:hover {
  opacity: 1;
}

#buttonContainer,
.btn {
  z-index: 10;
}

#thumbs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 25%;
  margin: auto;
}

#thumbs button {
  background-color: black;
  padding: 8px;
}

#thumbs button:hover {
  background-color:lime;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#modal {
  display: flex;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  animation-name: fadeIn;
  animation-duration: 1s;
}

#modal img {
  object-fit: contain;
}


/* @media screen and (min-width: 481px) {

} */

/* @media screen and (min-width: 801px) {

} */